name: Playwright Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run tests
        env:
          ENV: staging
          BROWSER: chrome
        run: npm test

      - name: Debug JSON output
        if: always()
        run: |
          echo "=== reports folder ==="
          ls -la reports || true
          echo "=== json files ==="
          find reports -type f -name "*.json" -print -exec head -n 5 {} \; || true

      - name: Generate reports
        run: npx ts-node src/helper/report.ts

      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: cucumber-reports
            retention-days: 2
            path: |
                  reports/
                  screenshots/
                  logs/